root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[LICENSE]
trim_trailing_whitespace = false

[*.{md,txt}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{yml,yaml,raml,json,toml}]
indent_style = space
indent_size = 2

[*.{py,sh,justfile}]
indent_style = space
indent_size = 4
